@font-face {
  font-family: Montserrat;
  src: url('/src/assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('/src/assets/fonts/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
