<section class="task" *ngFor="let task of tasks; index as i; trackBy: trackById">
  <input class="task__checkbox" type="checkbox" name="done" [id]="'done' + i + isChecked" [checked]="isChecked"
    (change)="checkTask(i)" />

  <label class="task__label" [for]="'done' + i + isChecked">
    <div class="task__star-icon icon selected" [hidden]="!task.isImportant"></div>
    <span class="task__text">{{ task.title }}</span>
  </label>

  <button class="task__remove icon-button" (click)="deleteTask(i)"></button>
</section>
