// variables
@import 'theme/theme-variables.scss';

// Custom fonts
@import 'theme/fonts.scss';

body {
  background-color: $background-color-default;
  color: $color-default;
  font-family: 'Montserrat', sans-serif;
}